<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Eventos</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, charset=UTF-8" />
</head>

<body>

	<div class="container row">
		<fieldset>
			<legend>Navbar</legend>
			<h5>
				<a href="/">Home</a>
				&nbsp
				<a href="/salvar">Cadastro</a> 
			</h5>
		</fieldset>
	</div>

	<div class="container">
		<table id="table-1" class="striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
					<th>Ações</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "e : ${eventos}">
					<td th:text = "${e.eventoid}"></td>
					<td th:text = "${e.nome}"></td>
					<td th:text = "${e.local}"></td>
					<td th:text = "${e.data}"></td>
					<td th:text = "${e.horario}"></td>
					<td><a th:href="@{/exclui/{id}(id=${e.eventoid})}">Excluir</a></td>
				</tr>
			</tbody>
			
		</table>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>